<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <title>Projeto Company</title>
    <meta name="author" content="José Ricardo" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+JP|Open+Sans|Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--Cabeçalho-->
    <header th:fragment="cabecalho">
      <nav
        class="navbar navbar-expand-lg navbar-dark"
        style="background-color: #fff"
      >
        <a class="navbar-brand" th:href="@{/}">
          <img src="/img/logo_header-site.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navMobile"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          id="navMobile"
          class="navbar-collapse collapse justify-content-end"
        >
          <a class="btn-nav nav-item nav-link"
            ><i class="fas fa-home"></i> Home</a
          >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

          <a
            class="btn-nav nav-item nav-link"
            th:href="@{/inserirColaboradores}"
            ><i class="fas fa-user"></i> Cadastrar Colaborador</a
          >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

          <a class="btn-nav nav-item nav-link"
            ><i class="fas fa-search"></i> Pesquisar Colaborador</a
          >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

          <a class="btn-nav nav-item nav-link btn-danger"
            ><i class="fas fa-times"></i> Sair</a
          >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </div>
      </nav>
    </header>

    <!--Footer-->
    <footer th:fragment="rodape">
      <div class="rodape">
        <span
          >Em Desenvolvimento por &copy;José Ricardo- Todos os Direitos Reservados
          2022.</span
        >
      </div>
    </footer>

    <script src="/webjars/jquery/3.6.1/jquery/min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap/min.js"></script>
  </body>
</html>
